/* Header Section Start */
#header_section{
    background: #05f;
}
.navbar-brand {
    color: #fff;
    color: #fff !important;
    font-size: 29px !important;
}
.nav-item {
    margin-left: 83px;
    font-size: 18px;
}
.nav-item a {
    color: #fff;
}
.navbar-nav {
    margin-left: 90px;
}
.btn-outline-success {
    border: 1px solid #fff !important;
    color: #fff !important;
    border-radius: 30px !important;
    padding: 6px 20px !important;
}
.bg-light {
   background: #05f !important;
}
/* Header Section End */
/* ***************************************************************************** */
/* Claim Section Start */

#claim{
    background: #fbe277;
}
.discount_header {
    color: #000;
    font-size: 20px;
    text-align: center;
    padding-top: 9px;
}
.claim_buttion {
    color: #0055FF;
    border: 1px solid #0055FF;
    background: none;
    border-radius: 25px;
    padding: 5px 15px;
    font-size: 15px;
    margin-top: 3px;
}
/* Claim Section End */
/* ***************************************************************************** */
/* Banner Section Start */

#banner_section{
    background: #05f;
    height: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.banner_heading {
    color: #fff;
    font-size: 60px;
    line-height: 74px;
    padding-top: 55px;
}
.banner_button {
    background: #fff;
    border: none;
    padding: 10px 41px;
    border-radius: 22px;
    font-size: 20px;
    color: #05f;
}
.banner_button i{
    color: #05f;
    margin-left: 14px;
}
.banner_image {
    width: 624px;
    height: 561px;
    margin-left: 76px;
}
/* Banner Section End */
/* ***************************************************************************** */
/* Even Section Start */
#even_section{
    height: 210px;
    background: #05f;
}
.even_section {
    border-radius: 75px 75px 0px 0px;
    background: #fff;
    height: 210px;
}
.even_images{
   display: flex;
}
.even_images img {
    height: 33px;
    width: 150px;
    margin-left: 45px;
    margin-top: 36px;
}
.even_images img:hover{
    opacity: 0.5;
}
/* Even Section End */
/* ***************************************************************************** */
/* Plan Section End */

#plan_section{
    background: #fff;
}
.plan_section {
    border-radius: 75px 75px 75px 75px;
    background: #111547;
    padding-bottom: 4px;
}
.plans_table {
    background: #fff;
    border-radius: 10px;
    width: 880px !important;
    margin: 0 auto;
}
.plan_dis {
    text-align: center;
    font-size: 25px;
    padding-bottom: 35px !important;
}
.plans_table tr {
    height: 60px;
}
.plans_table tr td {
    padding: 10px 30px!important;
}
.plans_table tr,th,td{
    border: none !important;
}
.plan_button {
    display: block;
    text-align: center;
    width: 220px;
    margin: 0 auto;
    padding: 10px 28px;
    font-size: 18px;
    background: #0055FF;
    border: none;
    color: #fff;
    border-radius: 29px;
    margin-bottom: 45px;
    margin-top: 40px;
}
.plan_button i{
    margin-left: 14px;
}
/* Plan Section End */
/* ***************************************************************************** */
/* Health Section Start */
#health_section{
    background: #fff;
}
.health_section {
    width: 1014px;
    background: #222222;
    color: #fff;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-top: 100px;
    margin: 100px auto;
    border-radius: 70px;
    padding: 50px;
}
.br_first {
    border-radius: 40px 0px 0px 40px;
}
.health_item {
    background: #fff;
    color: #000;
    margin-right: -22px;
    height: 283px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.br_last {
    border-radius: 0px 40px 40px 0px;
}
.health_item img {
    background: #fff;
    height: 100px;
    width: 140px;
}
.health_item h4 {
    font-size: 16px;
    text-align: center;
    padding: 10px 10px;
    height: 40px;
}
.health_item p {
    font-size: 14px;
    padding: 10px;
}