/* Header Section Start */
#header_section{
    background: #05f;
}
.navbar-brand {
    color: #fff;
    color: #fff !important;
    font-size: 29px !important;
}
.nav-item {
    margin-left: 83px;
    font-size: 18px;
}
.nav-item a {
    color: #fff;
}
.navbar-nav {
    margin-left: 90px;
}
.btn-outline-success {
    border: 1px solid #fff !important;
    color: #fff !important;
    border-radius: 30px !important;
    padding: 6px 20px !important;
}
.bg-light {
   background: #05f !important;
}
/* Header Section End */

#claim{
    background: #fbe277;
}
#banner_section{
    background: #05f;
    height: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#even_section{
    height: 300px;
    background: #fff;
    /* border-radius: 50px 50px 0px 0px; */
    border-top-left-radius: 50px;
}
.even_images{
   display: flex;
}
.even_images img {
    height: 33px;
    width: 150px;
    margin-left: 45px;
    margin-top: 36px;
}
.even_images img:hover{
    opacity: 0.5;
}